<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.matthias.lgm_v1_dummy">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".verkaeuferliste"
            android:label="@string/title_activity_verkaeuferliste"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.MainActivity"/>
        </activity>
        <activity
            android:name=".verkaeufer_neu"
            android:label="@string/title_activity_verkaeufer_neu"
            android:parentActivityName=".verkaeuferliste"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.verkaeuferliste"/>
        </activity>
        <activity
            android:name=".Auftraege_Liste"
            android:label="@string/title_activity_auftraege__liste"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.MainActivity"/>
        </activity>
        <activity
            android:name=".ProduktListe"
            android:label="@string/title_activity_produkt_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Produkt_neu"
            android:label="@string/title_activity_produkt_neu"
            android:parentActivityName=".ProduktListe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.verkaeuferliste"/>
        </activity>
        <activity
            android:name=".verkaeufer_edit"
            android:label="@string/title_activity_verkaeufer_edit"
            android:parentActivityName=".verkaeuferliste"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.verkaeuferliste"/>
        </activity>
        <activity
            android:name=".SortimentListe"
            android:label="@string/title_activity_sortiment_liste"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.MainActivity"/>
        </activity>
        <activity
            android:name=".Bestellung_Neu"
            android:label="@string/title_activity_bestellung__neu"
            android:parentActivityName=".Auftraege_Liste"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.Auftraege_Liste"/>
        </activity>
        <activity
            android:name=".Bestellung_Neu_Add_Produkt"
            android:label="@string/title_activity_bestellung__neu__add__produkt"
            android:parentActivityName=".Bestellung_Neu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.Bestellung_Neu"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>

        <activity
            android:name=".SortimentBearbeiten"
            android:label="@string/title_activity_sortiment_bearbeiten"
            android:parentActivityName=".SortimentListe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.SortimentListe"/>
        </activity>
        <activity
            android:name=".SortimentNeu"
            android:label="@string/title_activity_sortiment_neu"
            android:parentActivityName=".SortimentListe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.SortimentListe"/>
        </activity>
        <activity
            android:name=".ProduktAddToSortiment"
            android:label="@string/title_activity_produkt_addt_to"
            android:parentActivityName=".SortimentBearbeiten"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.SortimentBearbeiten"/>
        </activity>
        <activity
            android:name=".Bestellung_Bearbeiten"
            android:label="@string/title_activity_bestellung__bearbeiten"
            android:parentActivityName=".Auftraege_Liste"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.Auftraege_Liste"/>
        </activity>
        <activity
            android:name=".ProduktAddToBestellung"
            android:label="@string/title_activity_produkt_add_to_bestellung"
            android:parentActivityName=".Bestellung_Bearbeiten"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.Bestellung_Bearbeiten"/>
        </activity>
        <activity
            android:name=".Administration"
            android:label="@string/title_activity_administration"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.MainActivity"/>
        </activity>
        <activity
            android:name=".ProduktBearbeiten"
            android:label="@string/title_activity_produkt_bearbeiten"
            android:parentActivityName=".ProduktListe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.ProduktListe"/>
        </activity>
        <activity
            android:name=".BestellungProdukteBearbeiten"
            android:label="@string/title_activity_bestellung_produkte_bearbeiten"
            android:parentActivityName=".Bestellung_Bearbeiten"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.Bestellung_Bearbeiten"/>
        </activity>
        <activity
            android:name=".SortimentProduktBearbeiten"
            android:label="@string/title_activity_sortiment_produkt_bearbeiten"
            android:parentActivityName=".SortimentBearbeiten"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.SortimentBearbeiten"/>
        </activity>
        <activity
            android:name=".ProduktSuche"
            android:label="@string/title_activity_produkt_suche"
            android:parentActivityName=".ProduktListe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matthias.lgm_v1_dummy.ProduktListe"/>
        </activity>
    </application>

</manifest>